<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Tech Blog</title>
    <style>
      body{ margin:0; padding:0 } :root{ --brown:rgb(28,14,17);
      --font:rgb(222,236,214) } header{ background-color: var(--brown);
      padding:30px 15px; color:var(--font) } a,a:active,a:visited{
      color:var(--font) } a.brown,a.brown:active,a.brown:visited{
      color:var(--brown) } .header{ border-radius:5px;
      background-color:var(--font); color: var(--brown); padding: 15px 10px;
      width: fit-content; font-size: 25px; } .article{ border: 2px solid
      var(--brown); margin: 20px } .article_heading{
      background-color:var(--brown); padding:20px 10px; color:var(--font) }
      .article_body{ background-color: var(--font); padding:20px;
      color:var(--brown ) } input{ width:100%; background-color:
      white;border:none;height:30px; margin:10px 0 15px 0 } button{
      border-radius:8px; background-color: rgb(101,101,101);
      width:100%;border:none;height:30px; }
    </style>
  </head>

  <body>

    <header>
      <div>
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        {{#if logged}}
          <a href="/logout">Logout</a>
        {{else}}
          <a href="/login">Login</a>
        {{/if}}
      </div>
      <div class="header">The Tech Blog</div>
    </header>
    {{{body}}}
  </body>
</html>