<section>
  {{#each articles}}
    <div class="article">
      <div class="article_heading">
        <div>{{this.title}}</div>
        <div>Posted by {{this.author}} on {{this.date}}</div>
      </div>
      <div class="article_body">{{this.body}}</div>
    </div>
  {{/each}}

</section>