 <div class="article">
      <div class="article_heading">
        <div>Login</div>
     
      </div>
      <input class="article_body">
        <div>Username</div>
        <input />
        <div>Password</div>
        <input />
        <button>Login!</button>
        <p>Sign up instead</p>
      </div>
    </div>