<div class="article">
  <div class="article_heading">
    <div>Sign up</div>

  </div>
  <div class="article_body">
    <div>Username</div>
    <input />
    <div>Password</div>
    <input />
    <button>Sign up!</button>
    <p><a class="brown" href="/login">Login instead</a></p>
  </div>
</div>